.container-fluid {
    height: 100vh;
    vertical-align: middle;
    background-color: rgb(77, 77, 77) !important;
    color: white;
    font-family: 'Macondo', cursive;
}

.font-larger {
    font-size: 14pt;
}

.extra-long {
    height: 340vh !important;
}

.linkText {
    color: white;
}

.linkText:hover {
    text-decoration: none;
}

.possessButton {
    width: 150px;
}

.unpossessButton {
    width: 150px;
}

.roomButton {
    border: 2px solid black;
    border-radius: 5px;
    padding: 4px;
    max-width: 100px;
    background-color:darkorchid;
    text-align: center;
}

.hidden {
    display: none !important;
}

.homePic {
    max-width: 600px;
    max-height: 400px;
}

.familyPic {
    max-width: 300px;
    max-height: 200px;
}

.banner {
    max-width: 600px;
}

.wardrobeGirl {
    width: 100px;
    height: 150px;
    background-color: aqua;
    margin-left: 0px;
    margin-top: 30px;
}

.wardrobeImage {
    width: 150px;
    height: 200px;
}

.musicBox {
    width: 120px;
    height: 150px;
}

.stairImage {
    width: 300px;
    height: 2800px;
}

.pianoImage {
    width: 300px;
    height: 250px;
}

.margin-left-1 {
    margin-left: 16px;
}

.margin-left-2 {
    margin-left: 32px;
}

.margin-left-3 {
    margin-left: 48px;
}

.margin-left-4 {
    margin-left: 64px;
}

.margin-left-5 {
    margin-left: 80px;
}

.margin-top-0 {
    margin-top: 0px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-200 {
    margin-top: 200px;
}

.margin-left-0 {
    margin-left: 0px;
}

.margin-left-100 {
    margin-left: 100px;
}

.margin-left-200 {
    margin-left: 200px;
}

.crowSpace {
    max-width: 300px;
    height: 300px;
}

.crow {
    height: 100px;
    width: 100px;
}

.text-lime {
    color: lime;
}

.nav-item {
    color: aqua;
    justify-content: end;
}

.w-custom1 {
    width: 332px;
}

.hoverHand {
    cursor: pointer;
}